@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");

:root {
  --main: rgb(223, 179, 96);
  --white: #ffffff;
  --black: rgb(29, 29, 29);
  --grey: #adadad;

  --container-desktop: 128px;

  --font-header: "Fjalla One";
  --font-header-size: 2rem;

  --font-body: "Merriweather Sans", sans-serif;
  --font-body-size: 0.8rem;
}

#preloader {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #d3d1d8;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #2b2b2b;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #000000;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: var(--font-header);
  letter-spacing: 6px;
}

p {
  font-family: var(--font-body);
  color: var(--grey);
}

span {
  font-family: var(--font-body);
  color: var(--grey);
}

a {
  text-decoration: none !important;
}

body {
  position: relative;
  background-color: rgb(29, 29, 29) !important;
  scroll-behavior: smooth;
}

.scroll {
  background-color: rgb(29, 29, 29);
  box-shadow: 0 3px 5px 0.3px rgba(0, 0, 0, 0.1);
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 100px 100px 100px;
}
.column {
  flex: 25%;
  max-width: 25%;
}
.img-hover-zoom {
  height: auto;
  overflow: hidden;
  border: 5px solid #ffff;
}
.img-hover-zoom img {
  vertical-align: middle;
  margin: 0;
  padding: 0;
  border: 0;
  transition: transform 0.5s ease;
}
.img-hover-zoom:hover img {
  transform: scale(1.5);
}

/* burger icon */

.burger {
  display: inline-block;
  cursor: pointer;
  z-index: 2;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 5px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: white;
}

.change .bar2 {
  opacity: 0;
  background-color: white;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  background-color: white;
}

/* wraper */

.wrapper {
}

.container-flex {
  padding: 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  padding: 10px 20px;
  box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.1);
  /* background-color: white; */
}

nav .brand img {
  width: 30px;
  height: 30px;
}

.bg-sidebar {
  top: 0;
  right: -100%;
  bottom: 0;
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  visibility: hidden;
}

.bg-sidebar.change {
  right: 0;
  visibility: visible;
  display: block;
}

nav ul {
  display: flex;
  position: fixed;
  background-color: var(--black);
  top: 0;
  bottom: 0;
  right: -300px;
  width: 300px;
  transition: 0.5s;
  align-items: flex-start;
  flex-direction: column;
}

nav ul.change {
  right: 0;
  transition: 0.5s;
}

nav ul li {
  list-style: none;
  padding: 20px 15px;
}

nav ul li a {
  color: var(--main);
  font-family: var(--font-header);
  font-weight: 500;
  font-size: 1.5rem !important;
  text-decoration: none;
}

@media (min-width: 1025px) {
  .bg-sidebar.change {
    right: 0;
    visibility: hidden;
    display: none;
  }

  .burger {
    display: none;
  }

  nav {
    position: relative;
  }

  nav ul {
    display: flex;
    position: relative;
    background-color: unset;
    top: unset;
    bottom: unset;
    right: unset;
    width: unset;
    flex-direction: row;
    margin-bottom: 0 !important;
  }

  nav ul li {
    padding: 10px 15px;
  }

  nav ul li a {
    color: var(--main);
    font-size: 1.5rem;
    font-weight: 500;
  }

  .active {
    position: relative;
    padding-bottom: 25px;
    color: var(--main);
    font-size: 1.5rem;
    font-weight: 500;
  }

  nav ul li a .active::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    background-color: rgb(201, 201, 201);
    transform: translateY(20px);
  }

  nav ul li:last-child {
    font-weight: 550;
  }

  .top-nav #nav-menu > .active > a {
    color: red;
  }

  header {
    position: fixed;
    width: 100%;
    z-index: 50;
  }

  footer {
    display: grid;
    justify-content: center;
    width: 100%;
    padding: 40px 120px 0;
  }

  footer h1 {
    color: white;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    font-family: var(--font-header);
  }

  footer .social-media {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
  }

  footer .social-media img {
    height: 20px;
  }

  footer .body-footer {
    text-align: center;
    width: 100%;
    padding: 12px 250px;
  }

  footer .body-footer p {
    width: 100%;
    font-size: 14px;
    color: #adadad;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
  }

  .copyright {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 16px;
    padding: 12px 0;
    background-color: #000000;
    color: #ffffff;
    font-size: small;
  }

  .button-explore {
    --color: rgb(223, 179, 96);
    position: relative;
    cursor: pointer;
    z-index: 1;
  }

  .button-explore::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: transparent;
    top: -15px;
    left: -7px;
    z-index: -5;
    border-top: 3px solid var(--color);
    border-left: 3px solid var(--color);
    transition: 0.5s;
  }

  .button-explore::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: transparent;
    bottom: -16px;
    right: -7px;
    z-index: -5;
    border-right: 3px solid var(--color);
    border-bottom: 3px solid var(--color);
    transition: 0.5s;
  }

  .button-explore:hover::before {
    width: 100%;
    height: 100%;
  }

  .button-explore:hover::after {
    width: 100%;
    height: 100%;
  }

  .button-explore a {
    font-family: var(--font-header);
    padding: 0.7em 2em;
    font-size: 16px;
    background: #222222;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .button-explore a:hover {
    color: #fff;
    font-weight: 600;
  }

  .modal-dialog {
    max-width: 1024px !important;
    margin: 30px auto !important;
  }

  .modal-body {
    position: relative !important;
    padding: 0px !important;
  }
  .close {
    position: absolute;
    right: -30px;
    top: 0;
    z-index: 999;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    opacity: 1;
  }

  #nav {
    transition: all 0.5s ease-in-out;
  }

  /* Hero */
  .hero {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: black;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1497015289639-54688650d173?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
  }

  .overlayHero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.722);
  }

  .hero .title {
    font-family: var(--font-header);
    font-size: 6rem;
    font-weight: 700;
    color: #ffffff;
  }

  /* Home Service */
  #services {
    display: flex;
    justify-content: center;
    width: 100%;
    background-size: cover;
    background-image: url(../img/bg/workdesk.jpeg);
  }

  #services .container-services {
    margin: 0 120px;
  }

  #services .overlay {
    display: flex;
    background-color: #222222dc;
    width: 100%;
    padding-bottom: 60px;
    padding-top: 110px;
    padding: 120px 0;
  }

  #services .services-flex {
    display: flex;
    justify-content: space-between;
  }

  #services .services-title {
    max-width: 30%;
    padding-right: 25px;
  }

  #services .services-title .buttonE {
    width: max-content;
    padding-top: 40px;
  }

  #services .services-title p {
    position: relative;
    font-size: 1.5rem;
  }

  #services .services-title .title span {
    font-family: var(--font-header);
    position: relative;
    font-size: 1.8rem;
    font-weight: 600;
    color: #ffffff;
  }

  #services .services-title .title h1 {
    font-family: var(--font-header);
    position: relative;
    font-size: 4rem;
    font-weight: 600;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #ffffff;
  }

  #services .services-title .title h1::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 70px;
    background: var(--main);
    content: "";
  }

  #services .services-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }

  #services .card-services {
    max-width: 40rem;
  }

  #services .card-services p {
    font-size: 1.5rem;
  }

  #services .services-detail .card-services h1 {
    font-family: var(--font-header);
    position: relative;
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 12px;
    margin-bottom: 12px;
    color: #ffffff;
  }

  #services .services-detail .card-services h1::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 70px;
    background: var(--main);
    content: "";
  }

  /* Portfolio */
  #portfolio {
    width: 100%;
  }

  .grid {
    display: grid;
    grid-template-rows: repeat(2, 280px);
    grid-template-columns: repeat(3, 4fr);
    grid-gap: 5px;
  }

  .item {
    position: relative;
  }

  .item .play-button {
    position: absolute;
    background: #0f0f0f84;
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .item .play-button img {
    width: 80px;
    opacity: 50%;
  }

  .item .play-button img:hover {
    width: 80px;
    opacity: 100%;
  }

  .item:nth-child(1) {
    grid-row: 1 / 2;
  }

  .item:nth-child(2) {
    grid-row: 1 / 2;
  }

  .item:nth-child(3) {
    grid-row: 1 / 2;
  }

  /* styling code */

  .grid {
    margin: 5px auto;
    max-width: 100%;
  }

  .grid > .item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #client {
    width: 100%;
    padding: 40px 0;
    background-color: #ffffff;
  }

  #client .client-img {
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
  }

  .carousel-wrap {
    width: 100%;
    position: relative;
  }

  .wrapper-video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }

  .wrapper-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* our client */
  /* fix blank or flashing items on carousel */
  .owl-carousel .item {
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 200px;
    z-index: 100;
    -webkit-backface-visibility: hidden;
  }

  .owl-carousel .item .image {
    width: 60%;
  }

  /* end fix */
  .owl-nav > div {
    margin-top: -26px;
    top: 50%;
    color: #cdcbcd;
  }

  .owl-nav i {
    font-size: 52px;
  }

  .owl-nav .owl-prev {
    left: -30px;
  }

  .owl-nav .owl-next {
    right: -30px;
  }

  #OurClient {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
  }

  #OurClient h1 {
    font-weight: 700;
    font-size: 4rem;
    color: #ffffff;
  }

  #contact {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 50px 0;
    background-size: auto;
    background-image: url("https://images.unsplash.com/photo-1492619375914-88005aa9e8fb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1165&q=80");
  }

  #contact h1 {
    font-weight: 700;
    font-size: 4rem;
    color: #fff;
  }
  .submit-btn {
    display: grid;
    padding: 1rem;
    color: #fff;
    background: var(--black);
  }

  form input {
    border-radius: 5px;
    padding: 10px;
  }

  form textarea {
    border-radius: 5px;
    padding: 10px;
  }

  .contact-info-card {
    background-color: #222222;
    display: grid;
    align-items: center;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    border-radius: 10px;
  }

  .contact-info {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
  }

  /* About Us */
  #about-header {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1493805503700-3219b693ffcc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  }

  #about-header .overlay {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000000c9;
  }

  #about-us {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(../img/bg/bg-1.jpg);
  }

  #about-us .overlay {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #000000ab;
    width: 100%;
    height: 100%;
  }

  #about-us .body {
    display: flex;
    gap: 40px;
    width: 100%;
    padding: 0 120px;
  }

  .images-about {
    display: flex;
    width: 100%;
  }

  #about-us .body .grid-img {
    display: grid;
  }

  #about-us .title-about {
    width: 100%;
    padding-top: 60px;
  }

  #about-us .title-about h1 {
    font-family: var(--font-header);
    font-size: 6rem;
    font-weight: 600;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 25px;
    color: #ffffff;
  }

  #about-us .title-about h1::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 8px;
    width: 100px;
    background: var(--main);
    content: "";
  }

  #about-us p {
    font-size: 16px;
    color: #adadad;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
  }

  #team {
    width: 100%;
    background-size: cover;
    background-image: url(../img/bg/bg-2.jpg);
  }

  #team .overlay {
    background-color: #00000052;
    display: grid;
    gap: 25px;

    padding: 25px 120px;
  }
  #team .overlay .the-team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
  }

  #team .overlay .title {
    font-size: 3rem;
    text-align: center;
    color: #fff;
    font-weight: 600;
    padding: 40px 0;
  }

  #team .card-team {
    width: max-content;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: #fff;
  }

  #team .card-team .images-team {
    position: relative;
  }

  .card-team .images-team img {
    width: 300px;
    height: 300px;
  }

  .info-team {
    display: grid;
    justify-content: center;
    padding: 12px;
    background-color: #222222;
  }

  .info-team .social {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
  }

  .info-team .social img {
    width: 16px;
    display: flex;
    justify-content: center;
  }

  .info-team h1 {
    display: inline;
    text-align: center;
    font-size: 2rem;
    color: var(--main);
  }

  .info-team span {
    text-align: center;
    padding-bottom: 12px;
    font-size: 1rem;
    color: rgb(172, 172, 172);
  }

  /* Services Section */
  #services-all {
    display: flex;
    justify-content: center;
    width: 100%;
    background-size: cover;
    background-image: url(../img/bg/bg-3.jpg);
  }

  #services-all .container-services {
    width: 100%;
    height: 100%;
    background-color: #000000c7;
  }

  #services-all .work {
    display: grid;
    padding: 80px 120px;
  }

  #services-all .work .title h1 {
    font-family: var(--font-header);
    font-size: 6rem;
    font-size: 700 !important;
    color: #fff;
    padding-bottom: 15px;
    margin-bottom: 3rem;
    position: relative;
  }

  #services-all .work .title h1::after {
    position: absolute;
    text-align: center;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 70px;
    background: var(--main);
    content: "";
  }

  #services-all .work .work-detail {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #services-all .work .work-detail .detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    display: inline;
    max-width: 35rem;
    padding: 15px 0;
  }

  #services-all .work .work-detail .detail h1 {
    font-family: var(--font-header);
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #ffffff;
    position: relative;
  }

  #services-all .work .work-detail .detail h1::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 70px;
    background: var(--main);
    content: "";
  }

  #services-all .work .work-detail .detail p {
    padding-bottom: 25px;
  }

  #services-all .work .detail p {
    font-size: 16px;
    color: #adadad;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
  }

  /* Contact Us */
  #contact-us {
    width: 100%;
    background-size: cover;
    background-image: url(../img//bg/bg-2.jpg);
  }

  #contact-us .overlay {
    justify-content: center;
    background-color: #000000c2;
    width: 100%;
    padding: 80px 120px;
  }
  #contact-us .overlay h1 {
    font-family: var(--font-header);
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 12px;
    padding-bottom: 12px;
    color: #ffffff;
    position: relative;
  }

  #contact-us .overlay h1::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 70px;
    background: var(--main);
    content: "";
  }

  .body-contact {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 50px;
    width: 100%;
    height: 100%;
    background-color: #23232369;
  }

  .body-contact .info-wrap {
    width: 60%;
    padding-right: 16px;
    border-right: 2px solid #00000041;
  }

  .body-contact .form-message {
    display: flex;
    padding: 0 20px;
    width: 50%;
  }

  .body-contact .form-message .overlay-form {
    padding: auto;
    width: 100%;
  }

  .download-link {
    font-family: var(--font-header);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 12px;
    padding-bottom: 12px;
    color: var(--main);
    position: relative;
  }

  .body-contact .form-message .overlay-form .title {
    font-family: var(--font-header);
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 12px;
    padding-bottom: 12px;
    color: #ffffff;
    position: relative;
  }

  .body-contact .form-message .overlay-form .title::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 70px;
    background: var(--main);
    content: "";
  }

  .body-contact .form-message .overlay-form .form-group input[type=text]  {
    font-size: 1.5rem;
  }

  .body-contact .form-message .overlay-form .form-group textarea[type=text]  {
    font-size: 1.5rem;
  }

  .body-contact .form-message .overlay-form .send-form {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: var(--main);
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 12px;
  }

  .body-contact .form-message .overlay-form .form-group label {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
  }

  .body-contact .form-message .input-message {
    width: 100%;
  }

  .body-contact .info-wrap span {
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--font-header-size);
    font-weight: 400 !important;
  }

  .body-contact .info-wrap .contact-detail {
    display: flex;
    gap: 20px;
    padding: 20px 0 0 0;
  }

  .body-contact .info-wrap .contact-detail .left .icons {
    padding-bottom: 30px;
  }

  .body-contact .info-wrap .contact-detail .right {
    display: grid;
    gap: 25px;
  }

  .body-contact .info-wrap .contact-detail .right .title {
    font-size: 20px;
    text-align: left;
  }

  .icons {
    width: 25px;
    margin-right: 12px;
    color: var(--grey);
  }
}

@media (max-width: 768px) {
  .container-flex {
    display: flex;
    justify-content: space-between;
    padding: 0 !important;
  }

  footer {
    display: grid;
    gap: 25px;
    justify-content: center;
    width: 100%;
    padding: 25px;
  }

  footer h1 {
    color: white;
    font-size: 2rem;
    text-align: center;
    font-family: var(--font-header);
  }

  footer .social-media {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
  }

  footer .social-media img {
    height: 20px;
  }

  footer .body-footer {
    text-align: center;
    width: 100%;
  }

  footer .body-footer p {
    width: 100%;
    font-size: 0.8rem;
    color: #adadad;
    font-weight: 400;
    line-height: 26px;
  }

  form input {
    border-radius: 5px;
    padding: 8px;
  }

  form textarea {
    border-radius: 5px;
    padding: 8px;
  }

  .copyright {
    text-align: center;
    width: 100%;
    margin-top: 16px;
    padding: 12px;
    background-color: #000000;
    color: #ffffff;
    font-size: small;
  }

  .button-explore {
    --color: rgb(223, 179, 96);
    position: relative;
    cursor: pointer;
    z-index: 1;
  }

  .button-explore::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: transparent;
    top: -10px;
    left: -7px;
    z-index: -5;
    border-top: 3px solid var(--color);
    border-left: 3px solid var(--color);
    transition: 0.5s;
  }

  .button-explore::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: transparent;
    bottom: -10px;
    right: -7px;
    z-index: -5;
    border-right: 3px solid var(--color);
    border-bottom: 3px solid var(--color);
    transition: 0.5s;
  }

  .button-explore:hover::before {
    width: 100%;
    height: 100%;
  }

  .button-explore:hover::after {
    width: 100%;
    height: 100%;
  }

  .button-explore a {
    text-decoration: none;
    padding: 0.4em 1em;
    font-size: 16px;
    background: #222222;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: var(--font-header);
  }

  .button-explore a:hover {
    color: #fff !important;
  }

  #nav {
    position: fixed;
    display: block;
    z-index: 50;
    padding: 20px;
    width: 100%;
    height: auto;
    background-color: var(--black);
  }
  .collapse {
    visibility: hidden;
  }

  .open-nav {
    position: fixed;
  }

  .top-nav {
    display: flex;
    margin-bottom: 12px;
    justify-content: space-between;
  }

  .top-nav .logo img {
    display: grid;
    align-items: center;
    width: 30px;
    height: 30px;
  }

  .nav-menu {
    z-index: 10000;
    gap: 20px;
    justify-content: center;
    justify-items: center;
  }

  .nav-menu a {
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    color: var(--main);
  }

  .nav-menu .active::after {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    height: 2px;
    width: 70px;
    background: var(--main);
    content: "";
  }

  .close-btn {
    display: block;
  }

  .animated-icon2 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  .animated-icon2 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    background: #e3f2fd;
  }

  .animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
  }

  .animated-icon2 span:nth-child(1) {
    top: 0px;
  }

  .animated-icon2 span:nth-child(2),
  .animated-icon2 span:nth-child(3) {
    top: 10px;
  }

  .animated-icon2 span:nth-child(4) {
    top: 20px;
  }

  .animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
  }

  /* Hero */

  .hero {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: black;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1497015289639-54688650d173?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
  }

  .overlayHero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.722);
  }

  .hero h1 {
    font-family: var(--font-header);
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
    padding-bottom: 12px;
  }

  #services {
    display: flex;
    justify-content: center;
    width: 100%;
    background-size: cover;
    background-image: url(../img/bg/workdesk.jpeg);
  }

  #services .container-services {
    margin: 0 12px;
  }

  #services .overlay {
    display: grid;
    background-color: #222222dc;
    width: 100%;
    padding-bottom: 60px;
    padding-top: 110px;
    padding: 120px 0;
  }

  #services .services-flex {
    display: grid;
    justify-content: space-between;
  }

  #services .services-title {
    max-width: 100%;
    padding-right: 25px;
  }

  #services .services-title .buttonE {
    width: max-content;
    padding: 10px 0 40px 0;
  }

  #services .services-title p {
    position: relative;
    font-size: 1.5rem;
  }

  #services .services-title .title span {
    font-family: var(--font-header);
    position: relative;
    font-size: 1.8rem;
    font-weight: 600;
    color: #ffffff;
  }

  #services .services-title .title h1 {
    font-family: var(--font-header);
    position: relative;
    font-size: 4rem;
    font-weight: 600;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #ffffff;
  }

  #services .services-title .title h1::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 70px;
    background: var(--main);
    content: "";
  }

  #services .services-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }

  #services .card-services {
    max-width: 40rem;
  }

  #services .card-services p {
    font-size: 1.5rem;
  }

  #services .services-detail .card-services h1 {
    font-family: var(--font-header);
    position: relative;
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 12px;
    margin-bottom: 12px;
    color: #ffffff;
  }

  #services .services-detail .card-services h1::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 70px;
    background: var(--main);
    content: "";
  }

  .item .play-button {
    position: absolute;
    background: #0f0f0f84;
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .item {
    position: relative;
    width: 100%;
    height: 300px;
    background-size: cover;
  }

  .item .play-button {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .item .play-button img {
    width: 100px;
    opacity: 70%;
  }

  .wrapper-video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }

  .wrapper-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* Client section */

  #client {
    width: 100%;
    padding: 40px 0;
    background-color: #ffffff;
  }

  #client .client-img {
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
  }

  .carousel-wrap {
    width: 100%;
    position: relative;
  }

  /* fix blank or flashing items on carousel */
  .owl-carousel .item {
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 120px;
    z-index: 100;
    -webkit-backface-visibility: hidden;
  }

  .owl-carousel .item .image {
    width: 60%;
  }

  /* end fix */
  .owl-nav > div {
    margin-top: -26px;
    top: 50%;
    color: #cdcbcd;
  }

  .owl-nav i {
    font-size: 52px;
  }

  .owl-nav .owl-prev {
    left: -30px;
  }

  .owl-nav .owl-next {
    right: -30px;
  }

  /* About Us */
  #about-us {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 40px;
    height: 100vh;
    background-size: cover;
    background-image: url(../img/bg/bg-1.jpg);
  }

  #about-us .overlay {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #000000ab;
    width: 100%;
    height: 100%;
  }

  #about-us .body {
    display: grid;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }

  .images-about {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .images-about img {
    width: 300px;
  }

  #about-us .body .grid-img {
    display: grid;
  }

  #about-us .title-about {
    width: 100%;
    padding: 0 25px;
  }

  #about-us .title-about h1 {
    font-family: var(--font-header);
    position: relative;
    font-size: 3rem;
    font-weight: 600;
    padding-top: 25px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    color: #ffffff;
  }

  #about-us p {
    font-size: 1.2rem;
    color: #adadad;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
  }

  #about-us .title-about h1::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 70px;
    background: var(--main);
    content: "";
  }

  /* Team */
  #team {
    width: 100%;
    background-size: cover;
    background-image: url(../img/bg/bg-2.jpg);
  }

  #team .overlay {
    background-color: #00000052;
    display: grid;
    gap: 25px;

    padding: 25px 120px;
  }
  #team .overlay .the-team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
  }

  #team .overlay .title {
    font-size: 3rem;
    text-align: center;
    color: #fff;
    font-weight: 600;
    padding: 40px 0;
  }

  #team .card-team {
    width: max-content;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: #fff;
  }

  #team .card-team .images-team {
    position: relative;
  }

  .card-team .images-team img {
    width: 300px;
    height: 300px;
  }

  .info-team {
    display: grid;
    justify-content: center;
    padding: 12px;
    background-color: #222222;
  }

  .info-team .social {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
  }

  .info-team .social img {
    width: 16px;
    display: flex;
    justify-content: center;
  }

  .info-team h1 {
    display: inline;
    text-align: center;
    font-size: 2rem;
    color: var(--main);
  }

  .info-team span {
    text-align: center;
    padding-bottom: 12px;
    font-size: 1rem;
    color: rgb(172, 172, 172);
  }

  #services {
    display: flex;
    justify-content: center;
    width: 100%;
    background-size: cover;
    background-image: url(../img/bg/workdesk.jpeg);
  }

  #services .overlay {
    background-color: #222222cf;
    width: 100%;
    padding-bottom: 60px;
    padding-top: 110px;
  }

  #services .container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 60px 80px;
  }

  #services span {
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
  }

  #services .services-title .title h1 {
    position: relative;
    font-size: 3rem;
    font-weight: 500;
    padding-bottom: 25px;
    color: #ffffff;
  }

  #services p {
    font-size: 16px;
    color: #adadad;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
  }

  #services .services-title .title h1::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 70px;
    background: var(--main);
    content: "";
  }

  #services .container .services-title {
    max-width: 25%;
  }

  #services .container .services-title .title {
    margin-bottom: 25px;
  }

  #services .container .services-detail {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    max-width: 67%;
    padding-left: 50px;
  }

  #services .container .services-detail .card {
    position: relative;
    display: inline;
    width: 25rem;
  }

  #services .container .services-detail .card h1 {
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 12px;
    color: #ffffff;
  }

  .services-detail .body p {
    padding-bottom: 25px;
  }

  /* Services */
  #services-all {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 80px;
    background-size: cover;
    background-image: url(../img/bg/bg-3.jpg);
  }

  #services-all .container-services {
    width: 100%;
    height: 100%;
    background-color: #000000c7;
  }

  #services-all .work {
    display: grid;
    padding: 25px;
  }

  #services-all .work .title h1 {
    font-family: var(--font-header);
    font-size: 4rem;
    font-size: 600;
    color: #fff;
    padding-bottom: 15px;
    margin-bottom: 3rem;
    position: relative;
  }

  #services-all .work h1::after {
    position: absolute;
    text-align: center;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 70px;
    background: var(--main);
    content: "";
  }

  #services-all .work .work-detail {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #services-all .work .work-detail .detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    display: inline;
    padding: 15px 0;
  }

  #services-all .work .work-detail .detail h1 {
    font-family: var(--font-header);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 12px;
    padding-bottom: 12px;
    color: #ffffff;
    position: relative;
  }

  #services-all .work .work-detail .detail h1::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 70px;
    background: var(--main);
    content: "";
  }

  #services-all .work .work-detail .detail p {
    font-size: 1.2rem;
    padding-bottom: 25px;
  }

  #services-all .work .detail p {
    font-size: 0.8rem;
    color: #adadad;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
  }

  /* Contact Us */
  #contact-us {
    width: 100%;
    background-size: cover;
    background-image: url(../img//bg/bg-2.jpg);
  }

  #contact-us .overlay {
    justify-content: center;
    background-color: #000000c2;
    width: 100%;
    padding: 120px 20px 30px 20px;

    /* padding: 100px 200px  ; */
  }
  #contact-us .overlay h1 {
    font-family: var(--font-header);
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 40px;
    padding-bottom: 12px;
    color: #ffffff;
    position: relative;
  }

  #contact-us .overlay h1::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 70px;
    background: var(--main);
    content: "";
  }

  .body-contact {
    display: grid;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    background-color: #23232369;
  }

  .body-contact .info-wrap {
    width: 100%;
    padding-bottom: 16px;
    border-bottom: 2px solid #00000041;
  }

  .body-contact .form-message {
    padding: 20px 10px;
    height: 100%;
  }

  .body-contact .form-message .overlay-form {
    padding: auto;
    width: 100%;
  }

  .download-link {
    font-family: var(--font-header);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 12px;
    padding-bottom: 12px;
    color: var(--main);
    position: relative;
  }

  .body-contact .form-message .overlay-form .title {
    font-family: var(--font-header);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 12px;
    padding-bottom: 12px;
    color: #ffffff;
    position: relative;
  }

  .body-contact .form-message .overlay-form .title::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 70px;
    background: var(--main);
    content: "";
  }

  .body-contact .form-message .overlay-form .send-form {
    margin-top: 10px;
    padding: 8px;
    width: 100%;
    background-color: var(--main);
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 12px;
  }

  .body-contact .form-message .overlay-form .form-group label {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
  }

  .body-contact .form-message .input-message {
    width: 100%;
  }

  .body-contact .info-wrap {
    width: 100%;
  }

  .body-contact .info-wrap span {
    font-size: 16px;
    font-weight: 400 !important;
  }

  .body-contact .info-wrap .contact-detail {
    display: flex;
    gap: 20px;
    padding: 20px 0 0 0;
  }

  .body-contact .info-wrap .contact-detail .left .icons {
    padding-bottom: 30px;
  }

  .body-contact .info-wrap .contact-detail .right {
    display: grid;
    gap: 25px;
  }

  .body-contact .info-wrap .contact-detail .right .title {
    font-size: 12px;
    text-align: left;
  }

  .icons {
    width: 16px;
    margin-right: 12px;
    color: var(--grey);
  }
}
